<img src="{{"assets/img/sidebar-mascot.png" | absolute_url}}" alt="Podcast Cover">

<div id = "info">
    <h3>{{site.title}}</h3>
    <h4><i>{{site.description}}</i></h4>
</div>
<div id = "social">
    {% for item in site.data.settings.social %}
    {% if item.type == "brand"%}
      <a href="{{ item.link }}" target="_blank" id="{{item.icon}}"><i class="fab fa-{{item.icon}}" aria-hidden="true"></i></a>
    {% endif %}
    {% if item.type == "solid"%}
      <a href="{{ item.link }}" target="_blank" id="{{item.icon}}"><i class="fas fa-{{item.icon}}" aria-hidden="true"></i></a>
    {% endif %} 
    {% if item.type == ""%}
        <a href="{{ item.link }}" target="_blank" id="{{item.icon}}"><i class="fa fa-{{item.icon}}" aria-hidden="true"></i></a>
    {% endif %} 
  {% endfor %}
</div>
<div id = "ascoltare">
    <!--
    <h3>Where To Listen</h3>
    <div id = "lista-siti">
        <ul id = "siti">
          {% for item in site.data.settings.websites-podcast  %}
          <li><a href="{{ item.link }}"> {{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    -->
    <h3>Our Services</h3>
    <div id = "lista-siti" style="padding-top: 0.5rem;">
        <ul id = "siti">
          <li><a href="https://www.runzbuzz.com/"> Consultancy </a></li>
          <li><a href="https://www.runzbuzz.com/"> Research </a></li>
<!-- <li><a href="https://www.runzbuzz.com/"> Mentorship </a></li> -->
          <li><a href="https://www.runzbuzz.com/"> Software <br>Development </a></li>
        </ul>
      </div>
      <br>
          <h3>Community</h3>
        <ul style="padding-top: 0.5rem;">
           <li><b><a href="/join"> Newsletter </a></b></li>
           <!--
           <li><a href="/join"> Newsletter </a></li>
                      <li><a href="/join"> Reddit Community </a></li>
           <li><a href="https://www.linkedin.com/company/4816289"> LinkedIn </a></li>
    
	    <h4><a href="/join">Subscribe to our Newsletter</a></h4>
	    <a href="/join">Subscribe to our Newsletter</a>
          <li><a href="/join"> Subscribe to our Newsletter </a></li>

           -->
           <li><a href="https://medium.com/@runzbuzz"> Medium </a></li>
           
        </ul>

  
</div>
