---
layout: default
---

<style>
.dot {
  height: 5px;
  width: 5px;
  background-color: #6b8fab;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

       position: relative;
			  top: 50%;
			  -ms-transform: translateY(-50%);
			  transform: translateY(-50%);   
  
}
</style>

<div class = "single-post">
        <div class="categories">
                {% assign categories = page.categories %}
                {% for category in categories %}
                  <a href="{% capture url %}/categories#{{ category | slugify }}{% endcapture %}
                  {{ url | absolute_url }}">{{category}}</a>
                  {% unless forloop.last %}&nbsp;{% endunless %} 
                {% endfor %}
        </div>
        <h1 style="padding-top: 1.5rem; text-align: center;">{{page.title}}</h1>

        	{%if page.length%}
		        
		        <p style=" text-align: center; color: #6b8fab;font-size: 1rem; padding-top: 0.5rem; font-style: bold;"> 
		        
		        {% if page.author %}Written by {{page.author}} <span class="dot"></span> {% endif %}
		      
		        Updated {{ page.date | date: "%-d %B %Y" }}
		        <span class="dot"></span>
		        {{page.length}}—minute read </p>
			{%endif%}
        
                <p style="text-align: center; color: #6b8fab;font-size: 1.1rem; padding-top: 0.75rem; padding-bottom: 1rem;font-style: italic;">{{page.description}}</p>
        
        {% if page.cover %}
        		<!--
                <img src="{{ page.cover | prepend: "/assets/forposts/" | absolute_url}}" alt="Post Cover">
                -->
        {% endif %}
		
		{%if page.toc%}
		<h2 style="text-align: center;">
		Content
		</h2>
		<div style="justify-content: center; align-items: center; text-align: center; margin-bottom: 1rem; ">
		<div style=" list-style-position: inside; display: inline-block; text-align: center;   margin: auto;">
		<style>
			.toc-li{text-align: left;  margin: 0.5rem; font-style: normal !important;}
			.toc-li a{font-style: normal !important;}
			
			.toc-ol {
			  list-style-type: none;
			  counter-reset: item;
			  margin: 0;
			  padding: 0;
			}
			
			.toc-ol > .toc-li {
			  display: table;
			  counter-increment: item;
			  margin-bottom: 0.6em;
			}
			
			.toc-ol > .toc-li:before {
			  content: counters(item, ".") ". ";
			  display: table-cell;
			  padding-right: 0.6em;    
			}
			
			.toc-li .toc-ol > .toc-li {
			  display: table;
			  counter-increment: item;
			  margin-bottom: 0;
		      margin-left: -0.1em;
			}
			
			.toc-li .toc-ol > .toc-li:before {
			  content: counters(item, ".") " ";
			  display: table-cell;
			  padding-right: 0.6em;    
			}
			
			ol {
				list-style-position: inside; // This is for the generic posts. So the items markers (or pullet points) does not appear outside the justified block of text.
			}
			li {
				margin: 0.5rem;
			}	
		</style>        
		{% include toc.html html=content ordered=true class='toc-ol' submenu_class='toc-ol' flat_toc=false h_max=2 item_class='toc-li'%}
		</div>
		</div>  
		{% endif %}    
		          
        {{ content }}
		{% include share-bar.html %}
    
</div>

